In [2]:
import sys
import pandas as pd
import numpy as np
import numpy.testing as npt

In [3]:
sys.path

['/Users/xieyan/nVision/scripts',
 '/Users/xieyan/anaconda3/lib/python37.zip',
 '/Users/xieyan/anaconda3/lib/python3.7',
 '/Users/xieyan/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/xieyan/anaconda3/lib/python3.7/site-packages',
 '/Users/xieyan/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/xieyan/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/xieyan/.ipython']

In [4]:
sys.path.insert(0, "../nVision")

In [6]:
import pca as pca

In [7]:
data = pd.DataFrame({'A':[1,1,1],'B':[2,2,2],'C':[3,3,3]})

In [8]:
data

   A  B  C
0  1  2  3
1  1  2  3
2  1  2  3

In [10]:
combined_data = pca.interaction_features(data)
combined_data

   A  B  C  A:A  A:B  A:C  B:B  B:C  C:C
0  1  2  3    1    2    3    4    6    9
1  1  2  3    1    2    3    4    6    9
2  1  2  3    1    2    3    4    6    9

In [24]:
from pandas.util.testing import assert_frame_equal

In [49]:
def test_interaction_features():
    expected = pd.DataFrame({'A':[1,1,1],'B':[2,2,2],'C':[3,3,3],'A:A':[1,1,1],'A:B':[2,2,2],'A:C':[3,3,3],'B:B':[4,4,4],'B:C':[6,6,6],'C:C':[9,9,9]})
    data = pd.DataFrame({'A':[1,1,1],'B':[2,2,2],'C':[3,3,3]})
    actual = pca.interaction_features(data)
    
    assert_frame_equal(expected, actual)

In [50]:
test_interaction_features()

In [42]:
expected = pd.DataFrame({'A':[1,1,1],'B':[2,2,2],'C':[3,3,3],'A:A':[1,1,1],'A:B':[2,2,2],'A:C':[3,3,3],'B:B':[4,4,4],'B:C':[6,6,6],'C:C':[9,9,9]})
data = pd.DataFrame({'A':[1,1,1],'B':[2,2,2],'C':[3,3,3]})
actual = pca.interaction_features(data)

In [43]:
assert_frame_equal(expected, actual)